nav{
    background-color:rgb(229, 226, 226);
    position:fixed;
    width: 100%;
    font-size: 25px;
    margin-top: -8px;
  margin-left: -5px;
}
.right{
    text-align: end;
    padding-right:10px;
}
a{
    color:#000000;
}
main{
    padding :100px;
    
}
.search{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
padding-bottom: 25px;
}
.h{
 margin-top:20px;
    display: inline-block;
 font-size: 15px;
padding:5px;
    border: 1px solid grey;
}
.new{
padding: 25px;
    font-size: 20px;

}